# Ignore node_modules
node_modules

# Ignore logs
logs
*.log
npm-debug.log*

# Ignore Docker files
Dockerfile
docker-compose.yml

# Ignore build output
dist
build

# Ignore coverage files
coverage

# Ignore temporary files
tmp
temp

# Ignore IDE files
.vscode
.idea
*.swp
